@{
    ViewData["Title"] = "AutoComplete";
}

<h1>AutoComplete</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <input type="search" class="form-control mb-3" id="inputSearch" />
        <div class="list-group" id="divResult"></div>
    </div>
    <div class="col-3"></div>
</div>
@section Scripts {
    <script>
        const inpSearch = document.querySelector("#inputSearch");
        const divResult = document.querySelector("#divResult");

        inpSearch.addEventListener('input', async (event) => {
            const response = await fetch(`@Url.Content("~/api/SpotTitle")?keyword=${event.target.value}`);
            const data=await response.json();

            const atitle = data.map(keyword => `<a onclick="clickHandler('${keyword}')" href="#" class="list-group-item list-group-item-action">${keyword}</a>`);
            divResult.innerHTML = atitle.join("");
        })

        const clickHandler = keyword => {
            inpSearch.value = keyword;
            divResult.innerHTML = "";
        }
    </script>
}


