
@{
    ViewData["Title"] = "Spots";
}

@* <h1>Spots</h1> *@

<div class="col-3">
    <select class="form-select" aria-label="Default select example" id="droppage">
    </select>
</div>

<nav aria-label="Page navigation example">
    
    <div class="btn-group" role="group" aria-label="Basic outlined example" id="categoryid">
    </div>
    <div class="card-group" id="div1"></div>
    <ul class="pagination" id="ul1">
    </ul>
</nav>


@section Scripts
{
    <script>
        const div1 = document.querySelector("#div1");
        const ulPaging = document.querySelector('#ul1');
        const ulcategoryid = document.querySelector('#categoryid');
        const searchData = {
            "categoryId": "1",
            "keyword": "",
            "page": "1",
            "pagesize": "3",
            "sortby": "",
            "sorttype": "arc",
            "categoryName": "養生溫泉",
        };

        const LoadSpots = async () => {
            const response = await fetch('@Url.Content("~/api/Spots")', {
                'method': 'POST',
                'body': JSON.stringify(searchData),
                'headers': { 'Content-Type': 'application/Json' }
            })
            const datas = await response.json();

            const divSpots = datas.spotsResult.map(spot => {
                const { spotId, spotTitle, spotImage, address, spotDescription,categoriesValue } = spot;

                return (`
                          <div class="col-md-4">
                          <div class="card mb-4">
                          <img class="card-img-top" src="${spotImage}">
                          <div class="card-body">
                          <h5 class="card-title">${spotTitle}</h5>
                          <p class="card-text">${spotDescription.length <= 100 ? spotDescription : spotDescription.substring(0, 100)}</p>
                          </div>
                          <div class="card-footer">
                          <small class="text-muted">${address}</small>
                          </div>
                          </div>
                          </div>
                                                                        `
                )
            })
            div1.innerHTML = divSpots.join("");
            //分頁
            // console.log(datas.totalPages);
            let liPaging = "";
            for (let i = 1, max = datas.totalPages; i <= max; i++) {
                liPaging += ` <li class="page-item" onclick="pagingHandler(${i})"><a class="page-link" href="#">${i}</a></li>`
            }
            ulPaging.innerHTML = liPaging;

            // console.log(datas.categoriesValue);

            let lititle = "";
            for (let j = 0, max = datas.categoriesValue.length-1; j <= max; j++) {
                lititle += `<button type="button" class="btn btn-outline-primary" onclick="cateHandler(${j})"> ${datas.categoriesValue[j]}</button>`
            }
            ulcategoryid.innerHTML = lititle;

            let liShowpage = `<option value="default" > 每頁顯示3筆資料`;
            for (let k = 3; k <=9 ; k+=3){
                liShowpage += `<option value="${k}" >每頁顯示${k}筆資料</option>`
            }
            droppage.innerHTML = liShowpage;
            droppage.options[0].disabled = true;

        }
        const cateHandler = cateId => { 
        searchData.categoryId=cateId+1;
            LoadSpots();
        }

        const pagingHandler = page => {
            searchData.page = page;
            LoadSpots();
        }


        droppage.addEventListener('change' , function() {
            switch (droppage.value) {
                case '3':
                    searchData.pageSize = 3;
                    break;
                case '6':
                    searchData.pageSize = 6;
                    break;
                case '9':
                    searchData.pageSize = 9;
                    break;
            }
            LoadSpots();
            console.log(droppage.value);
        });



        LoadSpots();
    </script>
}
